.container {
  margin: 0.5%;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.display-container {
  flex-basis: 20%;
}

.display-main, .display-partial {
  text-align: right;
  margin: 0;
  height: 50%;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 80%;
}

.buttons-row {
  display: flex;
  justify-content: space-evenly;
  flex: auto;
}

.operator-btn-div, .number-btn-div, .operate-btn-div {
  border-style: solid;
  border-width: 1px;
  background-color: gray;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  flex-basis: 25%;
  text-align: center;
}